/*
 * Empty Stylesheet file.
*/

#SELECCIONADO{
    -fx-background-color: lightgreen;
}

#DISPONIBLE{
    -fx-background-color: aliceblue;
}

#RESERVADO{
    -fx-background-color: grey;
}

#OCULTO{
    -fx-background-color: transparent;
}
