/*
 * Empty Stylesheet file.
*/

#SELECCIONADO{
    -fx-background-color: lightgreen;
}

#DISPONIBLE{
    -fx-background-color: aliceblue;
}

#RESERVADO{
    -fx-background-color: grey;
}

#OCULTO{
    -fx-background-color: transparent;
}

#SELECTED{
    -fx-background-color: lightgreen;
}

#AVAILABLE{
    -fx-background-color: aliceblue;
}

#RESERVED{
    -fx-background-color: grey;
}

#HIDDEN{
    -fx-background-color: transparent;
}

#AVAILABLE:hover, #HIDDEN:hover, #RESERVED:hover, #SELECTED:hover{
    -fx-border-color: grey;
}